@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@600&display=swap');

#login{
      background-image: url('../../assets/images/login-backgoround14.jpg');
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;   
      display: flex;
      justify-content: right;
      object-fit: cover;
      font-family: 'Square Peg', cursive !important;
}

.login-wrapper{
      width: 30%;
      margin: 10rem;
      padding: 2rem;
      position: absolute;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
      background-color: rgba(83, 80, 80, 0.616);     
      
}

.login-wrapper input{
      width: 100%;
}

.login-wrapper>div>p{
      font-family: 'Libre Bodoni', serif;
      color: rgb(41, 40, 40);
}

.login-wrapper>.sub-title{ /* not in use now */
      font-size: 1.4rem;
      font-weight:900;
}

.login-wrapper .title{
      display: flex;
}
.login-wrapper>.title>p{
      font-size: 6rem;
      color: white;
      font-family: 'Rampart One', cursive !important;

      transform: rotate(-45deg);
      animation: changeFont 5s ease-in-out infinite;

}


@keyframes changeFont{
      0%{
            transform: rotate(-45deg);
            color: greenyellow;
      }
      50%{
            transform: rotate(45deg);
            color: red;
      }
      100%{
            transform: rotate(-45deg);
            color: white;
      }
}

.login-wrapper>#login-form>div>label{
      color: white;
      font-size: 1.6rem;
      -webkit-text-stroke: 1px black;
      font-family: 'Orelega One', cursive !important;
}
.login-wrapper>#login-form>.login-form-group>input{
      border: none;
      border-radius: 0rem;
      box-shadow: 0px 15px 10px -10px #00E4B6; 
      background-color: rgba(255, 255, 255, 0);
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.651);
}
.login-wrapper>#login-form>.login-form-group>input:focus{
      border: none;
      box-shadow: none;
      box-shadow: 0px 15px 10px -10px rgb(93, 2, 105); 
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.651);
}
.login-wrapper>#login-form>.login-form-group>input:active{
      border: none;
      box-shadow: none;
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.651);
      box-shadow: 0px 15px 10px -10px rgb(93, 2, 105); 
}
.login-wrapper>#login-form>.login-form-group>input:hover{
      border: none;
      box-shadow: none;
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.651);
      box-shadow: 0px 15px 10px -10px rgb(93, 2, 105); 
}

.login-wrapper>#login-form>.login-form-check{
      gap: 0.5rem;
      padding: 0rem;
      display: flex;
      margin-top: 1rem;
}
.login-wrapper>#login-form>.login-form-check>.login-form-check-input{
      width: 1.3rem;
      display: block;
      margin:auto 0rem;

}
.login-wrapper>#login-form>.login-form-group>#formEmailInput:invalid{
      animation: shake 300ms;
}


@keyframes shake{
      25%{ transform: translateX(8px); }
      50%{ transform: translateX(-8px);}
      75%{ transform: translateX(8px); }
}

.login-wrapper>#login-form>.button-wrapper{
      display: flex;
      justify-content: right;
}

.login-wrapper>#login-form>.button-wrapper>button{
      margin-top: 1.6rem;
      width: 9rem;
      height: 2.3rem;
      font-size: 1.2rem;
      font-weight: 900;
      background: #000;
      color: #fff;
      border: 1px solid;
      transition: all 1s ease;
      transition-delay: 0.2s;
      cursor: pointer;
}

.login-wrapper>#login-form>.button-wrapper>button:hover{
      animation: pulsate 1s ease-in-out;
}

@keyframes pulsate{
      0%{
            box-shadow: 0 0 25px rgb(93, 2, 105), 0 0 50px rgb(93, 2, 105);
      }
}