@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');



#add-dvd>section:nth-child(2){
      padding: 2.6rem;
      margin: 0rem 2rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#add-dvd label{
      font-size: 1.4rem;
      font-weight: 600;
      font-family: 'Varela Round', sans-serif !important;
}
#add-dvd-wrapper{
      padding: 0rem 2.6rem;
}

#add-dvd-wrapper> nav{
      padding: 0px;
      margin: 0px;
      display: flex;
      place-items: center;
      justify-content: space-between;
}
#add-dvd-wrapper> nav>*{
      padding: 0px;
      margin: 0px;
}


.circle-img--button{
      border-radius: 50%;
      width: 2rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      cursor: pointer;
}

.circle-img--button:hover{
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.input--design{
      border: none;
      border-radius: 0rem;
      border-bottom: 0.1rem solid rgba(51, 51, 51, 0.664);
}

/* CSS */
.save-dvd-btn {
      background-color: transparent;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.466) 0 2px 4px 0;
      box-sizing: border-box;
      color: black;
      cursor: pointer;
      font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      font-size: 16px;
      font-weight: bold;
      outline: none;
      outline: 0;
      padding: 10px 25px;
      text-align: center;
      transform: translateY(0);
      transition: transform 150ms, box-shadow 150ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
}

.save-dvd-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.568) 0 3px 9px 0;
  transform: translateY(-2px);
  color: black;
}

@media (min-width: 768px) {
  .save-dvd-btn {
    padding: 10px 30px;
  }
}