@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Varela+Round&display=swap');

#dvd-Copies-wrrapper>div{
      padding: 2.6rem;
      margin: 0rem 2rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#dvd-Copies-wrrapper, #dvdCopiesModel{
      padding: 0rem 2.6rem;
      font-size: 1.4rem;
      font-family: 'Varela Round', sans-serif !important
}


#dvd-Copies-wrrapper> nav{
      padding: 0px;
      margin: 0px;
      display: flex;
      place-items: center;
      justify-content: space-between;
}
#dvd-Copies-wrrapper> nav>*{
      padding: 0px;
      margin: 0px;
}

#dvd-Copies-wrrapper{
      font-size: 1.2rem !important;
}

.delete-icon-image>img{
      width: 2.4rem;
}

.delete-icon-image>img:hover{
      background-color: blue;
      border-radius: 50%;
}

/* CSS */
.add-dvd-button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-dvd-button:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.add-dvd-button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .add-dvd-button {
    padding: 13px 50px 13px;
  }
}

/******************************************  MODEL ******************************/

.modal-header> h2{
      font-weight: bolder !important;
      font-family: 'Roboto', sans-serif !important;
}
