
#catelog-wrapper{
      padding: 0rem 2.6rem;
      margin-bottom: 10rem;
}

#catelog-wrapper>section:nth-child(3){
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      place-items: center;
}


.catelog-dvd-card {
      background-color: transparent;
      width: 80%;
      height: 28rem;
      perspective: 1000px;
}

.catelog-dvd-card-body{
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.catelog-dvd-card:hover .catelog-dvd-card-body {
      transform: rotateY(180deg);   
}

.catelog-dvd-card-front, .catelog-dvd-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
}

.catelog-dvd-card-front {
      background-color: #bbb;
      color: black;
}

.catelog-dvd-card-back {
      background-color: #40637a;
      color: white;
      padding: 1rem 0.3rem;
      transform: rotateY(180deg);
}

.catelog-dvd-card-back>div{
      height: 80%;
      overflow: auto;
      color: white;
}


.pagination--button{
      text-align: center;
}
.pagination--button>img:nth-child(2){
      transform: rotate(180deg);
}
.pagination--button>img{
      text-align: center;
      cursor: pointer;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
}

.pagination--button>img:hover{
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}