
#available-dvds-wrapper{
      padding: 0rem 2.6rem;
      /* height: 40rem; */
}


#available-dvds-wrapper> nav{
      padding: 0px;
      margin: 0px;
      display: flex;
      place-items: center;
      justify-content: space-between;
}
#available-dvds-wrapper> nav>*{
      padding: 0px;
      margin: 0px;
}

.moving-text---effect{
      animation: moving 8s ease-in-out infinite;
}
@keyframes moving{
      0%{
           padding-left: 0%;
      }
      50%{
            padding-left: 6%;
      }
      100%{
            padding-left: 0%;
      }
}

#available-dvds-wrapper>hr{
      padding: 0px;
      margin: 0px 0px 2rem 0px;
}


#available-dvds-wrapper>nav>aside>input{
      border: 0rem;
      border-bottom: 1px solid black !important;
}

#available-dvds-wrapper>nav>aside>input:focus{
      outline: none;
      box-shadow: 0 4px 2px -2px #0ff;

}


#available-dvds-wrapper>nav>aside>img{
      width: 3rem;
      margin-bottom: 1.6rem;
      padding: 0rem 0rem 0.2rem 0rem;
      border-bottom: 1px solid black !important;
}

#available-dvds-wrapper>nav>aside>img:hover{
      cursor: pointer;
      box-shadow: 0 4px 2px -2px #0ff;

}


.dvd-card{
      border-radius: 1rem;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.dvd-card:hover{
      cursor: pointer;
      transform: translateY(-6%);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.dvd-card>.card-body>img{
      border-radius: 1rem 1rem 0rem 0rem;
}

/* .dvd-card>.card-body>article>p:nth-child(2){
      color: rgb(185, 184, 184);
} */

.error {
      position: relative;
      box-shadow: 0 4px 2px -2px rgb(236, 52, 52) !important;
      animation: shake .1s linear infinite;
      animation-iteration-count: 3;
      
}
  
@keyframes shake {
      0% { left: -5px; }
      100% { right: -5px; }
}

.page-not-found{
      width: 100%;
      margin-left: 190%;
}