
#available-dvds-wrapper{
      padding: 0rem 2.6rem;     
}


#available-dvds-wrapper> nav{
      padding: 0px;
      margin: 0px;
      display: flex;
      place-items: center;
      justify-content: space-between;
}
#available-dvds-wrapper> nav>*{
      padding: 0px;
      margin: 0px;
      font-family: 'Roboto', sans-serif !important;
}


.dvd-image{
      max-height: 250px;
      height: 50%;     
      object-fit: cover;
}


hr{
      padding: 0px;
      margin: 0px 0px 2rem 0px;
}

#available-dvds-wrapper>nav>aside>span{
      justify-content: center;
}
#available-dvds-wrapper>nav>aside>span{
      display: flex;
      gap: 1rem;
      margin-top: 1rem;
}
#available-dvds-wrapper>nav>aside>span>span>input{
      border: 0rem;
      border-bottom: 1px solid black !important;
}

#available-dvds-wrapper>nav>aside>span>span>input:focus{
      outline: none;
      box-shadow: 0 4px 2px -2px #0ff;

}


#available-dvds-wrapper>nav>aside>span>span>img{
      width: 2rem;
      margin-bottom: 0.4rem;
      padding: 0rem 0rem 0.rem 0rem;
      border-bottom: 1px solid black !important;
}

#available-dvds-wrapper>nav>aside>span>span>img:hover{
      cursor: pointer;
      box-shadow: 0 4px 2px -2px #0ff;

}


.dvd-card{
      border-radius: 1rem;
      border: none;
      
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.dvd-card:hover{
      cursor: pointer;
      transform: translateY(-6%);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.dvd-card>.card-body>img{
      border-radius: 1rem 1rem 0rem 0rem;
}
