@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap');

#back-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -9999;
}

.register-wrapper {
    width: 30%;
    margin: 5rem;
    padding: 2rem;
    position: absolute;
    background: rgba(0, 255, 144, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(0, 255, 144, 0.3);
}

@media only screen and (max-height: 800px) {
    .register-wrapper{
        margin: 1rem;  
    }

    #register-head{
        font-size: 72px !important;
    }
}

@media only screen and (max-height: 1024px) {
    .register-wrapper{
          width: 55% !important;
    }
}

#register {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: right;
    object-fit: cover;
    font-family: 'Square Peg', cursive !important;
}


.neonText {
    color: whitesmoke;
    text-shadow:
        0 0 7px whitesmoke,
        0 0 10px whitesmoke,
        0 0 21px whitesmoke,
        0 0 42px #bcf5bc,
        0 0 82px #bcf5bc,
        0 0 92px #bcf5bc,
        0 0 102px #bcf5bc,
        0 0 151px #bcf5bc;
}

#register-head,
.flickering-text {
    text-align: center;
    font-weight: 400;
    font-family: 'Marck Script', cursive !important;
}

#register-head {
    font-size: 6.2rem;
    animation: pulsate 1.5s infinite alternate;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    margin-bottom: 0.4em;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bcf5bc,
        0 0 0.8rem #bcf5bc,
        0 0 2.8rem #bcf5bc,
        inset 0 0 1.3rem #bcf5bc;
}

#flickering-e {
    animation: flicker 4s infinite alternate;
}

#flickering-t {
    animation: flicker 4s infinite alternate;
    animation-delay: 1s;
}

.form-label{
    font-family: 'MuseoModerno', sans-serif !important;
    font-size: 1.4em;
    color: white;
    text-shadow:
          0 0 7px #fff,
          0 0 102px #bcf5bc,
          0 0 151px #bcf5bc;
}

.form-control{
    color: white;
    background: rgba(145, 83, 83, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(145, 83, 83, 0.3);
}

.form-control::placeholder{
    color: whitesmoke;
    opacity: 0.8;
}


.form-control:focus{
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.form-control[data-autocompleted] {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #bcf5bc,
            0 0 80px greenyellow,
            0 0 90px #bcf5bc,
            0 0 100px greenyellow,
            0 0 150px #bcf5bc;

    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}


@keyframes pulsate {

    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #bcf5bc,
            0 0 80px #bcf5bc,
            0 0 90px #bcf5bc,
            0 0 100px #bcf5bc,
            0 0 150px #bcf5bc;

    }

    0% {

        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #bcf5bc,
            0 0 45px #bcf5bc,
            0 0 55px #bcf5bc,
            0 0 70px #bcf5bc,
            0 0 80px #bcf5bc;

    }
}