
#loan-detail-wrrapper>div{
      padding: 2.6rem;
      margin: 0rem 2rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#loan-detail-wrrapper{
      padding: 0rem 2.6rem;
      font-size: 1.4rem;
      font-weight: 600;
      font-family: 'Varela Round', sans-serif !important
}


#loan-detail-wrrapper> nav{
      padding: 0px;
      margin: 0px;
      display: flex;
      place-items: center;
      justify-content: space-between;
}
#loan-detail-wrrapper> nav>*{
      padding: 0px;
      margin: 0px;
}