#password-container-div{
    margin: 0rem 40rem !important;
}

@media only screen and (max-height: 800px) {
    #password-container-div{
        margin: 0rem 25rem !important;
    }
}

@media only screen and (max-width: 1270px) {
    #password-container-div{
        margin: 0 15rem !important;
    }
}
