#main{
      width: 100%;
      margin-bottom: 10rem !important;
}
#main>.top-img{
      height: 30rem ;
      background-size: cover;
      /* background:fixed; */
      background-repeat: no-repeat;

}


#main>.top-img>div{
      box-shadow: 0px 15px 10px -15px #0ff;
      color: white;
      padding-top: 2%;
      margin: 0rem 10%;
      border-bottom: 0.2rem solid white;
}

#main>.top-img>div:hover{
      box-shadow: 0px 15px 10px -15px rgb(140, 21, 238);
}
#main>.top-img>div>span>p:nth-child(1){
      text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.3em blue;
      animation: lightBlink 2s  ease-in-out infinite;
}


@keyframes lightBlink{
      0%{
            text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.3em blue;
      }
      50%{
            text-shadow: 1px 1px 2px rgb(226, 124, 124), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      }
      100%{
            text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
      }
}



#login-button{
      background-color: rgba(37, 35, 35, 0.301);
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      outline: none;
      outline: 0;
      padding: 0rem 1rem;
      margin: 0rem;
      text-align: center;
      transform: translateY(0);
      transition: transform 150ms, box-shadow 150ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
}

#login-button:hover {
      box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
      transform: translateY(-9px);
}