@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

#my-profile{
      min-height: 40rem;
}
#my-profile-wrrapper>section>div:nth-child(2){
      padding: 2.6rem;
      margin: 0rem 2rem;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#my-profile-wrrapper{
      padding: 0rem 2.6rem;
      font-size: 1.4rem;
      font-weight: 600;
      font-family: 'Varela Round', sans-serif !important
}


#my-profile-wrrapper> nav{
      padding: 0px;
      margin: 0px;
      display: flex;
      place-items: center;
      justify-content: space-between;
}
#my-profile-wrrapper> nav>*{
      padding: 0px;
      margin: 0px;
}

.extra--font{
      font-size: 2rem;
      font-family: 'Chicle', cursive !important;
}