@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

#change-password-icon{
      width: 2rem;
      height: 100%;
      margin: 0.4rem;
}
#change-password-icon:hover{
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#pass-change-modal{
      width: fit-content;
}

#pass-change-form{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
}


#pass-change-form label{
      font-size: medium;
      font-weight: bold;
      font-family: 'Varela Round', sans-serif !important;
}

#pass-change-form li span{
      font-family: 'Varela Round', sans-serif !important;
}

#pass-change-form input{
      width: 110%;
      margin: 4px 0 10px 0;
}