
#slidingCard-wrapper{
      position: relative;
      height: 12rem;
      /* background-color: red; */
}
#slidingCard-wrapper>span{
      top: -6rem;
      display: flex;
      padding: 2rem 0rem;
      position: absolute;
      justify-content: space-around;
}

#slidingCard-wrapper>span>.card{
      border: none;
      border-radius: 0.5rem;
      padding: 1rem;
      width: 16%;
      gap: 1rem;
      animation: float 5s ease-in-out infinite;
      box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
#slidingCard-wrapper>span>.card:nth-child(even){
      animation-delay: 2s;
}

@keyframes float{
      0%{
            transform: translateY(0);
      }
      50%{
            transform: translateY(-15px);
      }
      100%{
            transform: translateY(0);
      }
}
#slidingCard-wrapper>span>.card:hover{
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#slidingCard-wrapper>span>.card>.top-image{
      display: flex;
      justify-content: space-between;
}
#slidingCard-wrapper>span>.card>.top-image>img{
      width: 40%;
      border-radius: 0.5rem;
}

#slidingCard-wrapper>span>.card>.top-image>aside{
      width: 36%;
}
#slidingCard-wrapper>span>.card>.top-image>aside>span{
      position: relative;
      justify-content: right;
}

#slidingCard-wrapper>span>.card>.top-image>aside>span>img{
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      position: absolute;
}
#slidingCard-wrapper>span>.card>.top-image>aside>span>img:nth-child(2){
      left: 1.5rem;
      border-left: 2px solid black;

}
#slidingCard-wrapper>span>.card>.top-image>aside>span>img:nth-child(1){
      left: 3rem;
      border-left: 2px solid black;

}
