@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&family=Poppins&display=swap');
*{
  font-family: 'Bai Jamjuree', sans-serif !important;
  font-family: 'Poppins', sans-serif !important;
}
body {
  
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
